#include <windows.h>

#include "resources.h"

IDI_APPICON ICON "vestige.ico"

VESTIGE_MENU MENU
BEGIN
POPUP "TrayMenu"
BEGIN
MENUITEM "Open web administration", IDM_OPEN_WEB, GRAYED
MENUITEM "Open config folder", IDM_OPEN_BASE, GRAYED
MENUITEM "Show command line output", IDM_SHOW_CONSOLE
MENUITEM "Start at login", IDM_START_LOGIN
MENUITEM SEPARATOR
MENUITEM "Stop", IDM_STOP
END
END


VESTIGE_ACCELERATORS ACCELERATORS 
BEGIN
    "^A",           IDM_SELECT_ALL,          ASCII,  NOINVERT
END
