#include <windows.h>

#include "resources.h"

IDI_APPICON ICON "vestige.ico"

VESTIGE_MENU MENU
BEGIN
POPUP "TrayMenu"
BEGIN
MENUITEM "Open web administration", IDM_OPEN_WEB, GRAYED
MENUITEM "Open base folder", IDM_OPEN_BASE, GRAYED
MENUITEM "Show command line output", IDM_SHOW_CONSOLE
MENUITEM SEPARATOR
MENUITEM "Quit", IDM_QUIT
END
END
