Source: vestige
Package: vestige
Version: 1.0.0
Architecture: all
Maintainer: Gael Lalire <vestige@gaellalire.fr>
Description: Java Application Manager
Homepage: http://gaellalire.fr/vestige
Installed-Size: 15360
Depends: bash, java6-runtime, python-gtk2 (>= 2.6)
Recommends: python-appindicator
