<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://gaellalire.fr/vestige/SETTINGS" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://gaellalire.fr/vestige/SETTINGS http://gaellalire.fr/vestige/settings-1.0.0.xsd">
  <admin>
    <ssh enabled="false">
      <bind port="8422" />
    </ssh>
    <web enabled="true">
      <bind host="127.0.0.1" port="8480" />
    </web>
  </admin>
</settings>
