<settings xmlns="http://vestige.gaellalire.fr/SETTINGS" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://vestige.gaellalire.fr/SETTINGS settings.xsd">
  <security enabled="true" />
  <admin>
    <ssh enabled="true">
      <bind port="8422" />
    </ssh>
    <web enabled="true">
      <bind host="127.0.0.1" port="8480" />
    </web>
  </admin>
</settings>
